.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__items {
  font-weight: var(--fw-semiBold);
  color: var(--grey);
  display: none;
}

@media screen and (min-width: 48em) {
  .navigation__items {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.item a {
  transition: all 0.3s;
}
.item a:hover {
  color: var(--white);
}

.logo {
  font-size: 1.2rem;
}

@media screen and (min-width: 48em) {
  .mobile__drawer {
    display: none;
  }
}
